@font-face {
  font-family: '_sourceSansPro-321ds-32dsw-45dfsd';
  src: url('/fonts/7c42ed55a7834032-s.p.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "_sourceSansPro-321ds-32dsw-45dfsd", "__Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.0001em;
}