@font-face {
  font-family: '_OpenSans-Regular-321ds-32dsw-45dfsd';
  src: url('/fonts/InterVariable.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '_OpenSans-Bold-321ds-32dsw-45dfsd';
  src: url('/fonts/Inter.ttc') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "_OpenSans-Regular-321ds-32dsw-45dfsd", "__Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -0.0001em;
}